body {
  background-color:#ddedf0;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.clear-fix {
  overflow: auto;
}

img {
  padding: 10px;
}

h1 {
  font-size: 50px;
  line-height: 48px;
}

span {
  padding: 5px;
}


h2 {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

hr {
  border-top: 2px solid #333;
}


p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

ul {
  list-style-type: none;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

header {
  margin-right: 0px !important;
  margin-left: 0px !important;
  color: #fff;
  background-color: #333;
  margin-bottom: 2em;
}

footer {
  margin-right:0px !important;
  margin-left: 0px !important;
  background-color: #333;
}

footer h3 {
  color: #fff;
  font-style: inherit;
}

/*Bio and Welcome Section*/

#welcome-section {
  margin-top: 5em;
  margin-bottom: 10em;
  background-color: #333;
}

.welcome-text {
  padding: 0.5em;
  color: #fff;
}

.btn-primary {
  margin-top:2em;
  font-size: 1.5em;
}

.role {
  margin-top: 5em;
  font-size: 2em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.main-title {
  font-size: 5em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  line-height: 1em;
}

.contact-item {
  font-size: 1.25em;
}

/*Education Section*/

.education-section-title h1 {
  margin-bottom: 2.5em;
}

.education-section {
  margin-top: 3em;
}

.education-title {
  margin-bottom: 1em;
  padding: 1em;
}

.spacing {
  margin-bottom: 5em;
  padding: 2em;
}

.info {
  margin-top: 2em;
}

.education-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.school-location {
  font-style: italic;
}

.degree {
  font-weight: bold;
}

.coursework-list {
  margin-top: 1em;
}




/*Work Section*/

#work-section {
  margin-top: 5em;
}

.work-location {
  font-size: 0.7em;
  font-weight: lighter;
  font-style: italic;
}

.work-entry {
  margin-top: 5em;
  margin-bottom: 5em;
}

.work-description {
   color:#333;
}




/*Skills Section*/

#skills-section {
  margin-bottom: 10em;
  }

.skills-section-title {
  margin-top: 2em;
  margin-bottom: 3em;
}

#chart_div {
  width: 100%;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}



/*Projects Section*/

.project-entry {
  margin-bottom: 15em;
}

.project-entry:hover {
  -moz-box-shadow: 0 0 20px rgba(0,0,0,1);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,1);
  box-shadow: 0 0 20px rgba(0,0,0,1);
  }

.jumbotron {
  background-color: #333;
}

.project-description {
  color:#fff;
}

 .project-padding {
  margin-bottom: 15em;
}
.project-section-title {
  margin-bottom: 5em;
}
.project-title {
  color:#fff;
}

.project-dates {
  color:#fff;
}




/*Maps Section*/

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}



